<%= render :partial => 'dashboard/navigation' %>
<div class="container theme-showcase" role="main">
	<div class="jumbotron">
		<div class="container">
			<h1>Dieta</h1>
			<p>En esta seccion usted podra disponer de las dietas asignadas por la licenciada para su plan dietario, asi como ver las cantidades de los alimentos permitidos.</p>
		</div>
	</div>
</div>
<div class="container theme-showcase" role="main">
	<div class="page-header">
        <h1>Dietas disponibles</h1>
     </div>
	<div class="row">
		<% @diets_set.each do |d|%>
		<div class="col-xs-6 col-md-2">
			<a href='#' class="thumbnail">
				<%= image_tag 'nutri2.jpg'%>
			</a>
		</div>
		<% end %>
	</div>
	<div class="page-header">
        <h1>Cantidades permitidas</h1>
     </div>
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Desayuno</h3>
				</div>
				<div class="panel-body">
					<table class="table">
						<thead>
							<tr>
								<th>Comida</th>
								<th>Cantidad</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Fruta</td>
								<td><%=@diet.breakfast_fruits%></td>
							</tr>
							<tr>
								<td>Lacteos</td>
								<td><%=@diet.breakfast_lacteals%></td>
							</tr>
							<tr>
								<td>Almidon</td>
								<td><%=@diet.breakfast_starch%></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Almuerzo</h3>
				</div>
				<div class="panel-body">
					<table class="table">
						<thead>
							<tr>
								<th>Comida</th>
								<th>Cantidad</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Almidon</td>
								<td><%=@diet.lunch_starch%></td>
							</tr>
							<tr>
								<td>Verduras</td>
								<td><%=@diet.lunch_vegetables%></td>
							</tr>
							<tr>
								<td>Grasas</td>
								<td><%=@diet.luch_fats%></td>
							</tr>
							<tr>
								<td>Frutas</td>
								<td><%=@diet.lunch_fruits%></td>
							</tr>
							<tr>
								<td>Lacteos</td>
								<td><%=@diet.lunch_lacteals%></td>
							</tr>
							<tr>
								<td>Carnes</td>
								<td><%=@diet.lunch_meats%></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Colacion</h3>
				</div>
				<div class="panel-body">
					<table class="table">
						<thead>
							<tr>
								<th>Comida</th>
								<th>Cantidad</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Fruta</td>
								<td><%=@diet.collation_fruits%></td>
							</tr>
							<tr>
								<td>Lacteos</td>
								<td><%=@diet.collation_lacteals%></td>
							</tr>
							<tr>
								<td>Almidon</td>
								<td><%=@diet.collation_starch%></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Merienda</h3>
				</div>
				<div class="panel-body">
					<table class="table">
						<thead>
							<tr>
								<th>Comida</th>
								<th>Cantidad</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Fruta</td>
								<td><%=@diet.merienda_fruits%></td>
							</tr>
							<tr>
								<td>Lacteos</td>
								<td><%=@diet.merienda_lacteals%></td>
							</tr>
							<tr>
								<td>Almidon</td>
								<td><%=@diet.merienda_starch%></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Cena</h3>
				</div>
				<div class="panel-body">
					<table class="table">
						<thead>
							<tr>
								<th>Comida</th>
								<th>Cantidad</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Almidon</td>
								<td><%=@diet.dinner_starch%></td>
							</tr>
							<tr>
								<td>Verduras</td>
								<td><%=@diet.dinner_vegetables%></td>
							</tr>
							<tr>
								<td>Grasas</td>
								<td><%=@diet.dinner_fats%></td>
							</tr>
							<tr>
								<td>Frutas</td>
								<td><%=@diet.dinner_fruits%></td>
							</tr>
							<tr>
								<td>Lacteos</td>
								<td><%=@diet.dinner_lacteals%></td>
							</tr>
							<tr>
								<td>Carnes</td>
								<td><%=@diet.dinner_meats%></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<footer>
		<p>&copy;   Esta pagina no suplanta la visita al consultorio...</p>
	</footer>
</div>